---
import { getRelativeLocaleUrl } from "astro:i18n";

const names = Astro.currentLocale === "hu" ?
    {
        content: "Bolyós Anikó",
        cookies: "Sütik",
        cookiesUrl: getRelativeLocaleUrl("hu", "cookie-policy"),
        privacy: "Adatkezelés",
        privacyUrl: getRelativeLocaleUrl("hu", "privacy-notice"),
        credits: "Források",
        creditsUrl: getRelativeLocaleUrl("hu", "credits"),
    } :
    {
        content: "Aniko Bolyos",
        cookies: "Cookies",
        cookiesUrl: getRelativeLocaleUrl("en", "cookie-policy"),
        privacy: "Privacy",
        privacyUrl: getRelativeLocaleUrl("en", "privacy-notice"),
        credits: "Credits",
        creditsUrl: getRelativeLocaleUrl("en", "credits"),
    };
---

<footer id="footer" class="relative bottom-0 px-8 md:px-12 py-8 bg-onyx text-white">
    <div class="flex flex-row items-center justify-center pb-4">
        <a class="px-4 hover:underline" href={names.cookiesUrl}>{names.cookies}</a>
        <a class="px-4 hover:underline" href={names.privacyUrl}>{names.privacy}</a>
        <a class="px-4 hover:underline" href={names.creditsUrl}>{names.credits}</a>
    </div>
    <div class="flex flex-col md:flex-row items-center justify-between gap-4">
        <div class="flex justify-center">
            <p class="">&copy; 2021-2024 {names.content}</p>
        </div>
        <ul class="flex flex-row gap-1 md:gap-4">
            <li>
                <a href="https://www.facebook.com/spiriutjelzo" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" x-bind:width="size" x-bind:height="size" viewBox="0 0 24 24" fill="none" stroke="currentColor" x-bind:stroke-width="stroke" stroke-linecap="round" stroke-linejoin="round" width="32" height="32" stroke-width="1">
                        <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3"></path>
                    </svg>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/aniko_bolyos/" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" x-bind:width="size" x-bind:height="size" viewBox="0 0 24 24" fill="none" stroke="currentColor" x-bind:stroke-width="stroke" stroke-linecap="round" stroke-linejoin="round" width="32" height="32" stroke-width="1">
                        <path d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"></path>
                        <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
                        <path d="M16.5 7.5l0 .01"></path>
                    </svg>
                </a>
            </li>
            <li>
                <a href="https://uk.pinterest.com/anikbolys/" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" x-bind:width="size" x-bind:height="size" viewBox="0 0 24 24" fill="none" stroke="currentColor" x-bind:stroke-width="stroke" stroke-linecap="round" stroke-linejoin="round" width="32" height="32" stroke-width="1">
                        <path d="M8 20l4 -9"></path>
                        <path d="M10.7 14c.437 1.263 1.43 2 2.55 2c2.071 0 3.75 -1.554 3.75 -4a5 5 0 1 0 -9.7 1.7"></path>
                        <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                    </svg>
                </a>
            </li>
            <li>
                <a href="https://podcasters.spotify.com/pod/show/egyutt-az-uton" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" x-bind:width="size" x-bind:height="size" viewBox="0 0 24 24" fill="none" stroke="currentColor" x-bind:stroke-width="stroke" stroke-linecap="round" stroke-linejoin="round" width="32" height="32" stroke-width="1">
                        <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                        <path d="M8 11.973c2.5 -1.473 5.5 -.973 7.5 .527"></path>
                        <path d="M9 15c1.5 -1 4 -1 5 .5"></path>
                        <path d="M7 9c2 -1 6 -2 10 .5"></path>
                    </svg>
                </a>
            </li>
            <li>
                <a href="https://www.tiktok.com/@aniko.bolyos" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" x-bind:width="size" x-bind:height="size" viewBox="0 0 24 24" fill="none" stroke="currentColor" x-bind:stroke-width="stroke" stroke-linecap="round" stroke-linejoin="round" width="32" height="32" stroke-width="1">
                        <path d="M21 7.917v4.034a9.948 9.948 0 0 1 -5 -1.951v4.5a6.5 6.5 0 1 1 -8 -6.326v4.326a2.5 2.5 0 1 0 4 2v-11.5h4.083a6.005 6.005 0 0 0 4.917 4.917z"></path>
                    </svg>
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/@BolyosAniko" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" x-bind:width="size" x-bind:height="size" viewBox="0 0 24 24" fill="none" stroke="currentColor" x-bind:stroke-width="stroke" stroke-linecap="round" stroke-linejoin="round" width="32" height="32" stroke-width="1">
                        <path d="M2 8a4 4 0 0 1 4 -4h12a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-12a4 4 0 0 1 -4 -4v-8z"></path>
                        <path d="M10 9l5 3l-5 3z"></path>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</footer>
