---
import ImageCredits from "./image_credits.astro";

import bg01 from "../assets/images/bg/burgess-milner-OYYE4g-I5ZQ-unsplash.jpg";
import bg02 from "../assets/images/bg/christian-walker-xQ793pB_Ews-unsplash.jpg";
import bg03 from "../assets/images/bg/christina-rumpf-XWDMmk-yW7Q-unsplash.jpg";
import bg04 from "../assets/images/bg/david-pisnoy-46juD4zY1XA-unsplash.jpg";
import bg05 from "../assets/images/bg/fujiphilm-ojZ4wJNUM5w-unsplash.jpg";
import bg06 from "../assets/images/bg/gervyn-louis-ZVZxYaSrvAI-unsplash.jpg";
import bg07 from "../assets/images/bg/huy-nguyen-YhP-E5YwOGE-unsplash.jpg";
import bg08 from "../assets/images/bg/jessica-ruscello--GUyf8ZCTHM-unsplash.jpg";
import bg09 from "../assets/images/bg/joyce-hankins-1Q4TjXPlrVQ-unsplash.jpg";
import bg10 from "../assets/images/bg/matt-seymour--lxVRvBGsao-unsplash.jpg";
import bg11 from "../assets/images/bg/moses-janga-WZaPKRy4zYQ-unsplash.jpg";
import bg12 from "../assets/images/bg/thought-catalog-505eectW54k-unsplash.jpg";
---

<div class="grid grid-cols-2 md:grid-cols-4">
    <ImageCredits image={bg01} author="Burgess Milner" authorUrl="https://unsplash.com/@burgessbadass?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" source="Unsplash" sourceUrl="https://unsplash.com/photos/assorted-color-clothes-OYYE4g-I5ZQ?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" />
    <ImageCredits image={bg02} author="Christian Walker" authorUrl="https://unsplash.com/@christianwalker?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" source="Unsplash" sourceUrl="https://unsplash.com/photos/worms-eye-view-photography-of-umbrellas-xQ793pB_Ews?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" />
    <ImageCredits image={bg03} author="Christina Rumpf" authorUrl="https://unsplash.com/@rumpf?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" source="Unsplash" sourceUrl="https://unsplash.com/photos/blue-white-green-and-red-textile-XWDMmk-yW7Q?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" />
    <ImageCredits image={bg04} author="David Pisnoy" authorUrl="https://unsplash.com/@davidpisnoy?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" source="Unsplash" sourceUrl="https://unsplash.com/photos/four-orange-green-blue-and-red-paint-rollers-46juD4zY1XA?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" />
    <ImageCredits image={bg05} author="Fujiphilm" authorUrl="https://unsplash.com/@fujiphilm?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" source="Unsplash" sourceUrl="https://unsplash.com/photos/assorted-color-clothes-lot-hanging-on-wooden-wall-rack-ojZ4wJNUM5w?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" />
    <ImageCredits image={bg06} author="Gervyn Louis" authorUrl="https://unsplash.com/@gervynlouis?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" source="Unsplash" sourceUrl="https://unsplash.com/photos/people-standing-near-dress-outdoor-during-daytime-ZVZxYaSrvAI?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" />
    <ImageCredits image={bg07} author="Huy Nguyen" authorUrl="https://unsplash.com/@huynguyen_pch?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" source="Unsplash" sourceUrl="https://unsplash.com/photos/brown-wooden-table-with-chairs-YhP-E5YwOGE?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" />
    <ImageCredits image={bg08} author="Jessica Ruscello" authorUrl="https://unsplash.com/@jruscello?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" source="Unsplash" sourceUrl="https://unsplash.com/photos/assorted-color-wooden-frames--GUyf8ZCTHM?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" />
    <ImageCredits image={bg09} author="Joyce Hankins" authorUrl="https://unsplash.com/@moonshadowpress?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" source="Unsplash" sourceUrl="https://unsplash.com/photos/assorted-color-glass-decor-1Q4TjXPlrVQ?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" />
    <ImageCredits image={bg10} author="Matt Seymour" authorUrl="https://unsplash.com/@mattseymour?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" source="Unsplash" sourceUrl="https://unsplash.com/photos/assorted-color-textiles--lxVRvBGsao?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" />
    <ImageCredits image={bg11} author="Moses Janga" authorUrl="https://unsplash.com/@mofliks?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" source="Unsplash" sourceUrl="https://unsplash.com/photos/white-and-orange-polo-shirt-WZaPKRy4zYQ?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" />
    <ImageCredits image={bg12} author="Thought Catalog" authorUrl="https://unsplash.com/@thoughtcatalog?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" source="Unsplash" sourceUrl="https://unsplash.com/photos/person-holding-ballpoint-pen-writing-on-notebook-505eectW54k?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" />
</div>
