---
import { Image } from "astro:assets";

import Slides from "./slides.astro";

import springModel2 from "../assets/images/models/spring-model-2.jpg";
import springModel3 from "../assets/images/models/spring-model-3.jpg";
import springModel4 from "../assets/images/models/spring-model-4.jpg";
import springModel5 from "../assets/images/models/spring-model-5.jpg";
import springModel6 from "../assets/images/models/spring-model-6.jpg";
import springModel7 from "../assets/images/models/spring-model-7.jpg";
import springModel8 from "../assets/images/models/spring-model-8.jpg";
import springModel9 from "../assets/images/models/spring-model-9.jpg";
import springModel10 from "../assets/images/models/spring-model-10.jpg";
import springModel11 from "../assets/images/models/spring-model-11.jpg";
import winterModel1 from "../assets/images/models/winter-model-1.jpg";
import winterModel2 from "../assets/images/models/winter-model-2.jpg";
import summerModel1 from "../assets/images/models/summer-model-1.jpg";
import autumnModel1 from "../assets/images/models/autumn-model-1.jpg";
import autumnModel2 from "../assets/images/models/autumn-model-2.jpg";
---

<Slides id="models-slide">
    <div class="min-w-full w-full justify-items-center">
        <Image class="max-h-[500px] w-auto" src={springModel3} alt="" />
    </div>
    <div class="min-w-full w-full justify-items-center">
        <Image class="max-h-[500px] w-auto" src={springModel2} alt="" />
    </div>
    <div class="min-w-full w-full justify-items-center">
        <Image class="max-h-[500px] w-auto" src={winterModel1} alt="" />
    </div>
    <div class="min-w-full w-full justify-items-center">
        <Image class="max-h-[500px] w-auto" src={winterModel2} alt="" />
    </div>
    <div class="min-w-full w-full justify-items-center">
        <Image class="max-h-[500px] w-auto" src={springModel5} alt="" />
    </div>
    <div class="min-w-full w-full justify-items-center">
        <Image class="max-h-[500px] w-auto" src={springModel4} alt="" />
    </div>
    <div class="min-w-full w-full justify-items-center">
        <Image class="max-h-[500px] w-auto" src={springModel6} alt="" />
    </div>
    <div class="min-w-full w-full justify-items-center">
        <Image class="max-h-[500px] w-auto" src={springModel7} alt="" />
    </div>
    <div class="min-w-full w-full justify-items-center">
        <Image class="max-h-[500px] w-auto" src={springModel8} alt="" />
    </div>
    <div class="min-w-full w-full justify-items-center">
        <Image class="max-h-[500px] w-auto" src={springModel9} alt="" />
    </div>
    <div class="min-w-full w-full justify-items-center">
        <Image class="max-h-[500px] w-auto" src={springModel10} alt="" />
    </div>
    <div class="min-w-full w-full justify-items-center">
        <Image class="max-h-[500px] w-auto" src={springModel11} alt="" />
    </div>
    <div class="min-w-full w-full justify-items-center">
        <Image class="max-h-[500px] w-auto" src={summerModel1} alt="" />
    </div>
    <div class="min-w-full w-full justify-items-center">
        <Image class="max-h-[500px] w-auto" src={autumnModel1} alt="" />
    </div>
    <div class="min-w-full w-full justify-items-center">
        <Image class="max-h-[500px] w-auto" src={autumnModel2} alt="" />
    </div>
</Slides>
